.cust-category-button{
    background-color: transparent;
    color: black;
}

.scrollable-div {
    overflow-x: scroll;   /* Enable horizontal scrolling */
    white-space: nowrap;  /* Prevent content from wrapping */
}

.carousel-control-prev, .carousel-control-next{
    width:5%
}

.cust-restaurant-view{
    cursor: pointer;
}

.cust-restaurant-card-img{
    height: 20rem; /* Set the desired height */
    width: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    object-fit: cover; /* Preserve the aspect ratio and cover the container */
  }