<div class="card mx-5">
    <img *ngIf="selectedRestaurant?.restaurantImageUrl; else defaultImage"  [src]=(selectedRestaurant?.restaurantImageUrl) class="card-img-top cust-restaurant-card-img" [alt]=(selectedRestaurant?.name)>
    <div class="card-body d-flex flex-row justify-content-between mx-3">
        <div>
            <h3 class="card-title">{{selectedRestaurant?.name}}</h3>
            <p class="card-text">{{selectedRestaurant?.description}}</p>
            <app-star [rating]=" selectedRestaurant?.rating ? selectedRestaurant?.rating! : 0"></app-star>
        </div>
        <div class="">
            <p class="card-text">{{selectedRestaurant?.category}}</p>
            <p class="card-text mt-3"><i class="fa fa-map-pin"></i> &nbsp;{{selectedRestaurant?.address}}</p>
            <p class="card-text"><i class="fa fa-phone"></i> &nbsp;{{selectedRestaurant?.phone}}</p>
        </div>
    </div>
</div>

<ng-template #defaultImage>
    <img [src]=(defaultRestaurantImgUrl) class="card-img-top cust-restaurant-card-img" alt='Restaurant'>
</ng-template>